<template>
  <div>
    <form action="" class='form'>
      <b-field label="Imię i nazwisko">
        <b-input value="Kevin Garvey"></b-input>
      </b-field>
      <b-field label="Adres email">
        <b-input value="Kevin Garvey"></b-input>
      </b-field>
      <b-field label="Nr telefonu(opcjonalnie)">
        <b-input value="Kevin Garvey"></b-input>
      </b-field>
      <b-field label="Wiadomość">
            <b-input type="textarea"></b-input>
      </b-field>
      <button type='button' class='button'>Wyślij</button>
    </form>
  </div>
</template>

<script>
export default {
  
}
</script>

