<template>
<div>
  <no-ssr>
  <parallax>
    <div class="header"></div>
  </parallax>
  </no-ssr>
  
  <h2 class='subtitle is-2'>Katalog koparek </h2>
  <div class="columns is-multiline">
    <div class="column is-5 is-offset-1">
      <PreviewProduct />
    </div>
    <div class="column is-5 ">
      <PreviewProduct />
    </div>
    <div class="column is-5 is-offset-1">
      <PreviewProduct />
    </div>
    <div class="column is-5">
      <PreviewProduct />
    </div>
    <div class="column is-5 is-offset-1">
      <PreviewProduct />
    </div>
    <div class="column is-5 ">
      <PreviewProduct />
    </div>
    <b-modal :active.sync="isComponentModalActive" v-if='isComponentModalActive' >
      <div class="card">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">H 7 C, Akerman-Volvo</p>
          </header>
          <section class="modal-card-body">
            <GalleryProduct />
            <p>Wersja podstawowa z kabiną kierowcy Rops, mechanizmem jazdy, wysięgnikiem standardowym i standardową łyżką koparki podsiębiernej
            </p>
            <SpecProduct />
          </section>
          <footer class="modal-card-foot">
            <div class="box">
              <p class='modal-contact'><i class="fas fa-phone phone-icon"></i>111-111-111</p>
              <p class='modal-price'>10,399 zł </p>
            </div>
          </footer>
        </div>
      </div>
    </b-modal>
  </div>
</div>
</template>

<script>
  import PreviewProduct from '~/components/PreviewProduct.vue'
  import SpecProduct from '~/components/SpecProduct.vue'
   import GalleryProduct from '~/components/GalleryProduct.vue'

  export default {
    components: {
      PreviewProduct,
      SpecProduct,
      GalleryProduct
    },
    data() {
      return {
        isComponentModalActive: false
      }
    },
    methods: {
      modalTrigger: function() {
        this.isComponentModalActive = !this.isComponentModalActive
      }
    }
  }
</script>


<style scoped>
.box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  box-shadow: none;
}

.modal-card-body p {
  margin: 2rem 0;
}

.header {
  width: 100%;
  height: 75vh;

  background: url('/everse.jpg') center no-repeat;
  background-size: cover;
}

.columns {
  margin-top: 4rem;
}

.subtitle {
  text-align: center;
  margin-top: 2rem;
}
</style>
