<!-- You can custom the "mySwiper" name used to find the swiper instance in current component -->
<template>
  <div v-swiper:mySwiper="swiperOption">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(banner, index) in banners" :key='index'>
        <img :src="banner">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</template>

<script>

  export default {
    data () {
      return {
        banners: [ '/1.jpg', '/2.jpg', '/3.jpg','/1.jpg', '/2.jpg', '/3.jpg' ],
        swiperOption: {
          pagination: {
            el: '.swiper-pagination',
            type: 'progressbar'
          },
          slidePerView: 1,
          loop: true
          // some swiper options...
        }
      }
    },
    mounted() {
      
    }
  }
</script>

<style scoped>
.swiper-pagination-progressbar-fill {
  background: red;
}
</style>
