<template>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="/2.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">H 7 C, Akerman-Volvo</p>
          <p class="subtitle is-6">Cena: 999 zł</p>
        </div>
      </div>
      <div class="content">
        <p>Wersja podstawowa z kabiną kierowcy Rops, mechanizmem jazdy, wysięgnikiem standardowym i standardową łyżką koparki podsiębiernej
        </p>
        <button type='button' class='button' @click='modal'>Szczegóły</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ProductPreview',
    methods: {
      modal: function() {
        this.$parent.modalTrigger()
      }
    }
  }
</script>

<style scoped>
  .card {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
  }
  
  .image {
    width: 312px;
    height: auto;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .card-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-content {
    width: 50%;
  }

  .button {
    background: #138A36;
    color: #fff;
  }
</style>


