<template>
  <b-modal :active.sync="isComponentModalActive" v-if='isComponentModalActive' :width='width'>
          <div class="card">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">H 7 C, Akerman-Volvo</p>
              </header>
              <section class="modal-card-body">
                <!--<MiniGallery /> -->
                <p>Wersja podstawowa z kabiną kierowcy Rops, mechanizmem jazdy, wysięgnikiem standardowym i standardową łyżką koparki podsiębiernej
                </p>
                <ProductSpec />
                
              </section>
              <footer class="modal-card-foot">
                <div class="box">
                  <p class='modal-contact'><i class="fas fa-phone phone-icon"></i>111-111-111</p>
                  <p class='modal-price'>10,399 zł </p>
                </div>
              </footer>
            </div>
          </div>
        </b-modal>
</template>
 

<style scoped>
.box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}
</style>

