<template>
    <b-table :data="data" :columns="columns"></b-table>
</template>

<script>
    export default {
        data() {
            return {
                data: [
                    { 'name': 'Ciężar służbowy', 'value': '31 t' },
                    { 'name': 'Typ silnika',  'value': 'TD70A' },
                    { 'name': 'Moc silnika',  'value': '154 kW' },
                    { 'name': 'Pojemność czerpaka',  'value': '1.4 m³' },
                    { 'name': 'Wymiary urządz. dł./szer./wys.',  'value': '10,3x3,1x3,31 m' }
                ],
                columns: [
                    {
                        field: 'name',
                        label: 'Specyfikacja',
                    },
                    {
                        field: 'value',
                        label: '',
                    }
                ]
            }
        }
    }
</script>