<template>
  <div>
    <nav class="navbar header has-shadow is-light " role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
  
  
        <div class="navbar-burger">
          <span/>
          <span/>
          <span/>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- navbar items -->
        </div>
  
        <ul class="navbar-end">
          <nuxt-link to='/' tag='a' class="navbar-item">
         
            Strona główna
      
          </nuxt-link>
          <nuxt-link to='/catalog' tag='a' class="navbar-item">
            Katalog
          </nuxt-link>
          <nuxt-link to='/map' tag='a' class="navbar-item">
            Jak dojechać ?
          </nuxt-link>
          <nuxt-link to='/contact' tag='a' class="navbar-item">
            Kontakt
          </nuxt-link>
        </ul>
      </div>
    </nav>
  
    <section class="main-content">
  
  
  
        <nuxt />
     
  
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        items: [{
            title: 'Home',
            icon: 'home',
            to: {
              name: 'index'
            }
          },
          {
            title: 'Inspire',
            icon: 'lightbulb',
            to: {
              name: 'inspire'
            }
          }
        ]
      }
    },
    transition: 'page'
  }
</script>

<style>
  .navbar {
    
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s
}
.page-enter, .page-leave-active {
  opacity: 0
}

</style>

