<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Koparki kopareczki
        </h1>
        <h2 class="subtitle">
          <nuxt-link to='/catalog' tag='button' class='button'>Katalog</nuxt-link>
        </h2>
      </div>
    </div>
  </section>
</template>


<script>
  export default {
    name: 'HomePage',
    data() {
      return {
  
      }
    }
  }
</script>

<style scoped>
  .button {
    background: #138A36;
    color: #fff;
    border: none;
  }
  
  .title {
    color: #fff;
  }
  
  .hero-body {
    width: 100%;
    background: url('/header.jpg') center no-repeat;
    background-size: cover;
  }
</style>

